header div
{
background-color: white; 
height: 150px;
text-align:center;
}

.profil{
        height:100px;
        
}
body
{
background-color:red;    
}

.img 
{
    height:00%;   
    display:block;
    margin:auto;
    border-radius:30px;
}

.container
{
width: 100%;   
}

.color1{
    background-color:brown;
    width:100%;
    height:300px;
    margin-top:20px;
    margin-bottom:20px;
    position:relative;  
    padding-top:100px;
  
}
      
.color2{
    background-color:brown;
    display:inline-block;
    width:48%;
    height:588px;
    position: relative;
   
}

.color3{
    background-color:brown;
    width:48%;
    height:588px;
    margin-bottom:10px;
    position: relative;
    float:right;
   
}


      
.color4{
    background-color:brown;
    display:inline-block;
    width:48%;
    height:400px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    
}

.color5{
    background-color:brown;
    width:48%;
    height:400px;
    position: relative;
    margin-top:20px;
    margin-bottom:20px;
    float:right;
  
}

      
.color6{
    background-color:pink;
    width:100%;
    height:500px;
    position: relative; 
    
}


            
    


/* colonne 3 -----------------------------------------------------------------*/


   
.color7{
    background-color:red;
    width:200%;
    height:400px;
    position: relative; 
    margin-top:20px;
    margin-bottom:20px;
    
}

        
.color8{
    background-color:blue;
    display:inline-block;
    width:48%;
    height:200px;
    position: relative;
    margin-bottom:40px;
  
}

.color9{
    background-color:purple;
    width:48%;
    height:200px;
    position: relative;
    float:right;
    margin-bottom:20px;
       
   
}

.color10{
    background-color:red;
    display:inline-block;
    width:48%;
    height:200px;
    position:relative;
    margin-bottom:40px;
}

.color11{
    float:right;
    background-color:red;
    width:48%;
    height:150px;
    position:relative;
    margin-bottom:20px;
  
}    

  


.liseret{
        position:absolute;
        bottom:0px;
        width:100%;
        height:25px;
        background-color:rgba(0,0,0,0.9);
        color:white;
        padding-left:25px;
        
}

.arrow{
       float:right; 
       height:100%;
       
}
